.fotos img{
    border: 10px solid black;
    margin: 1em;
    padding: 80px;
    background-color: rgb(142, 234, 234);
    display: grid;
}

.enlaces a{
    border: 5px solid black;
    margin: 1em;
    padding: 40px;
    background-color: rgb(142, 234, 234);
}


